<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>登录</title>
</head>
<body>
    <div class="bg">
        <div class="mycontainer-small" style="max-width: 30em !important;padding-top: 11em;">
            <div class="ui container">
                <div class="ui success message" th:if="${msgs != null}">
                    <i class="close icon"></i>
                    <div class="header">提示：</div>
                    <p th:text="${msgs}"></p>
                </div>
                <div class="column">
                    <h2 class="ui teal image header" style="margin-left: 30%;">
                        <div class="content">
                            管理后台登录
                        </div>
                    </h2>
                    <form class="ui large form" method="post" th:action="@{${session.backorfront == 'back' ? '/admin/login' : '/admin/bloglogin'}}">
                        <div class="ui segment">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="managername" placeholder="用户名">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" placeholder="密码">
                                </div>
                            </div>
                            <a th:href="@{/admin/toRegister}" class="ui large teal button">Register</a>
                            <button class="ui large teal submit button">Login</button>
                        </div>

                        <div class="ui error message"></div>
                        <div class="ui negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="admin/_fragments :: script"></th:block>
    <script th:src="@{/js/adminlogin.js}"></script>

</body>
</html>