<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>404</title>
</head>
<body>
    <nav th:replace="_fragments :: nav(0)"></nav>

    <div class="mycontainer-small padded-error">
        <div class="ui error message">
            <div class="ui container padded-middle">
                <h2>404</h2>
                <p>对不起，你访问的资源不存在</p>
            </div>
        </div>
    </div>

    <footer th:replace="_fragments :: footer"></footer>
</body>
</html>